name: Quay Management
on:
  push:
    paths:
      - "ansible/**"
    branches:
      - "main"
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 3 * * *"

jobs:
  quay-management:
    name: "Quay Organization Management"
    if: "github.repository == 'redhat-cop/org'"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Run ansible-lint
        uses: ansible/ansible-lint-action@main
        with:
          path: "ansible/"
      # Manually downgrade Ansible version due to https://github.com/ansible/ansible/issues/81965
      - name: Install Ansible 2.15.4
        run: pip install "ansible-core==2.15.4"
      - name: Install Dependencies
        run: ansible-galaxy install -r ansible/requirements.yml -p $HOME/roles
      - name: Manage Quay Repository
        if: github.event_name == 'push' || github.event_name == 'schedule'
        env:
          ANSIBLE_ROLES_PATH: '$HOME/roles/infra-ansible/roles/scm'
        run: ansible-playbook -i ansible/inventory ansible/playbooks/quay_management.yml ${{secrets.ANSIBLE_EXTRA_VARS}}
