name: Quay Management
on:
  push:
    #paths:
    #  - "ansible/**"
    branches:
      - "main"

jobs:
  quay-management:
    name: "Quay Organization Management"
    if: "github.repository == 'redhat-cop/org'"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run ansible-lint
        uses: ansible/ansible-lint-action@master
        with:
          targets: "."
          override-deps: |
            ansible-lint==5.4.0
      - name: Install Dependencies
        run: ansible-galaxy install -r ansible/requirements.yml
      - name: Manage Quay Repository
        run: ansible-playbook -i ansible/inventory ansible/playbooks/quay_management.yml ${{secrets.ANSIBLE_EXTRA_VARS}}
