name: Quay Management
on:
  push:
    paths:
      - "ansible/**"
    branches:
      - "main"
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 3 * * *"

# Declare default permissions as read only.
permissions: read-all

jobs:
  quay-management:
    name: "Quay Organization Management"
    if: "github.repository == 'redhat-cop/org'"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run ansible-lint
        uses: ansible/ansible-lint@a9f8a4e21be85461fdc3d0f492a89e365bf4fd72 # v26.1.0

      - name: Install Dependencies
        run: ansible-galaxy install -r ansible/requirements.yml -p $HOME/roles

      - name: Manage Quay Repository
        if: github.event_name == 'push' || github.event_name == 'schedule'
        env:
          ANSIBLE_ROLES_PATH: '$HOME/roles/infra-ansible/roles/scm'
        run: ansible-playbook -i ansible/inventory ansible/playbooks/quay_management.yml ${{secrets.ANSIBLE_EXTRA_VARS}}
